<!-- GET /albums -->

<html>
  <head></head>
  <body>
    <h1>Albums</h1>
       <% @albums.each do |album| %>
        <div>
        <p>Title: <%= album.title %></p>
        <p>Released: <%= album.release_year %></p>
        <div>
        <% end %>
  </body>
</html>